#### .gitignore
#### [...]/3dldf-2.0.3/.gitignore

#### Created by Laurence D. Finston (LDF) Tue 09 Mar 2021 10:06:41 PM CET

*.bak
*.c
*.c++
*.cxx
*.dvi
*.h
*.hh
*.h++
*.hxx
*.o
*.lo
*.la
*.rpo
*~
\#*\#

3dldf
3DLDFmp.[0-9]*
3DLDFmp.log
3DLDFput.mp
3DLDFput.[0-9]
3DLDFtex.*
!3DLDFtex.tex
Makefile
Makefile.in
TAGS
aclocal.m4
atemp.txt
config.h.in
dummy
.libs/
ldf_1.log
listing.log
listing.pdf
listing.ps
nohup.out
parser.output
parser.y++
parser2.output
parser2.y++
prbsnflx
sample[0].[0-9][0-9]*
scanner2.l++
stamp-h1
texput.*
ttest

.deps/

!dummy.cxx
