#### .gitignore
#### [...]/3dldf-2.0.3/.gitignore

#### Created by Laurence D. Finston (LDF) Tue 09 Mar 2021 10:06:41 PM CET

\#*\#
*~
bin/
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
depcomp
install-sh
lib/
libtool
*.log
ltmain.sh
m4/
missing
stamp-h1
3DLDFprg.idx
3DLDFprg.log
/3DLDFprg.scn