#### .gitignore
#### Created by Laurence D. Finston (LDF) Mon Nov  4 17:56:26 CET 2013

3dldf
3dldf.aux
3dldf.cp
3dldf.dvi
3dldf.fn
3dldf.ky
3dldf.log
3dldf.pg
3dldf.toc
3dldf.tp
3dldf.vr
Makefile
TAGS

