#### .gitignore
#### Created by Laurence D. Finston (LDF) Mon Nov  4 17:57:42 CET 2013

3DLDF
3DLDF.aux
3DLDF.cp
3DLDF.cps
3DLDF.dvi
3DLDF.fn
3DLDF.fns
3dldf.html
3dldf.info
3DLDF.info-1
3DLDF.info-2
3DLDF.info-3
3DLDF.ky
3DLDF.log
3DLDF.pg
3DLDF.ps
3DLDF.tmp
3DLDF.toc
3DLDF.tp
3DLDF.vr
3DLDF.vrs
3DLDFput*
3dldf
3dldf.html
3dldf.info
Makefile
TAGS
examples.1
examples.dvi
examples.mp
examples.pdf
examples.ps
graphics/
tdl
testfont.*
ttemp.*

