#### .gitignore
#### [...]/3dldf/doc/.gitignore

#### Created by Laurence D. Finston (LDF) Wed Jun 12 17:13:35 CEST 2013

3DLDF.aux
3DLDF.cb
3DLDF.cm
3DLDF.cp
3DLDF.ct
3DLDF.cv
3DLDF.fn
3DLDF.ky
3DLDF.log
3DLDF.pg
3DLDF.toc
3DLDF.tp
3DLDF.vr
*.bak
*.dvi
*.ps
*.pdf
*~
\#*\#

Makefile
Makefile.in
