#### .gitignore
#### [...]/3dldf/src/.gitignore

#### Created by Laurence D. Finston (LDF) Mon Jun  3 15:07:20 CEST 2013

*.bak
*.c
*.c++
*.cxx
*.dvi
*.h
*.hh
*.h++
*.hxx
*.o
*.lo
*.la
*~
\#*\#

3dldf
3DLDFput.mp
Makefile
Makefile.in
TAGS
atemp.txt
config.h.in
dummy
.libs/
listing.log
listing.pdf
listing.ps
nohup.out
parser.output
parser.y++
parser2.output
parser2.y++
prbsnflx
scanner2.l++
stamp-h1
texput.*
ttest

.deps/

!dummy.cxx
