#### .gitignore
#### [...]/3dldf/src/.gitignore

#### Created by Laurence D. Finston (LDF) Mon Jun  3 15:07:20 CEST 2013

*.bak
*.c
*.c++
*.cxx
*.dvi
*.h
*.h++
*.o
*~
\#*\#

3dldf
Makefile
Makefile.in
TAGS
config.h.in
listing.log
listing.pdf
listing.ps
nohup.out
prbsnflx
stamp-h1
texput.*
ttest

.deps/

!dummy.cxx
