#### .gitignore
#### [...]/3dldf/src/.gitignore

#### Created by Laurence D. Finston (LDF) Mon Jun  3 15:07:20 CEST 2013

*.bak
*.c
*.c++
*.cxx
*.dvi
*.h
*.hh
*.h++
*.hxx
*.o
*.lo
*.la
*.rpo
*~
\#*\#

!3DLDFtex.tex
!dummy.cxx

.libs/
3DLDFmp.[0-9]*
3DLDFmp.log
3DLDFput.[0-9]
3DLDFput.mp
3DLDFtex.*
3dldf
Makefile
Makefile.in
TAGS
a.out
aclocal.m4
atemp.sh
atemp.txt
config.h.in
dummy
ldf_1.log
listing.log
listing.pdf
listing.ps
nohup.out
output.txt
parser.output
parser.y
parser.y++
parser2.output
parser2.y++
prbsnflx
sample[0].[0-9][0-9]*
scanner2.l++
stamp-h1
test_float.el
texput.*
ttemp
ttest

.deps/


