#### accsdtbs/.gitignore
#### Created by Laurence D. Finston (LDF) Wed 15 Sep 2021 07:19:10 AM CEST

Makefile
accsdtbs
accsdtbs.cxx
accsdtbs.o
accsgtpt.cxx
accsgtpt.hxx
accsgtpt.o
accsgtpt.web
classes.cxx
classes.hxx
classes.o
parser.cxx
parser.hxx
parser.y++
scanner.cxx
scanner.hxx
scanner.l++
starinfo_constellations.tex



